
project_id = "qrxfgpzxxkvckvrwbhml"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[auth]
enable_signup = true
disable_signup = false
enable_fast_signup = false
enable_dbl_confirm = false
hibp_enabled = true

[functions]
[functions.send-subscription]
verify_jwt = true
